/* General layout */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Set background to black for better disco effect */
}

/* Dancing Character */
.dancing-character {
    font-size: 50px; /* Size of the dancing character */
    position: absolute;
    bottom: 100px; /* Position above the keyboard */
    transition: transform 0.2s; /* Transition for the dance effect */
}

/* Disco lighting effect */
.disco-light {
    animation: disco 1s infinite alternate; /* Create disco light animation */
}

@keyframes disco {
    0% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    25% {
        background-color: rgba(0, 255, 0, 0.5);
    }
    50% {
        background-color: rgba(0, 0, 255, 0.5);
    }
    75% {
        background-color: rgba(255, 255, 0, 0.5);
    }
    100% {
        background-color: rgba(255, 0, 255, 0.5);
    }
}

/* Keyboard layout */
.keyboard {
    display: inline-block;
    width: 100%; /* Full width of the container */
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* More space between rows */
}

/* Key styling */
.key {
    font-size: 28px; /* Larger font size */
    font-weight: bold; /* Make keys bolder */
    padding: 20px 30px; /* Larger padding for bigger keys */
    margin: 10px; /* More space between keys */
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 0;
    text-align: center;
    width: 80px; /* Increased width for the keys */
    border-radius: 12px;
}

/* Rainbow effect when a key is pressed */
.rainbow-active:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -8px;
    left: -8px;
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    width: calc(110% + 8px);
    height: calc(110% + 8px);
    animation: disco 2s linear infinite;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    border-radius: 12px;
}

.rainbow-active {
    box-shadow: 0 0 10px #ffcc00;
    color:white;
    transform:translate(4px); 
}

.progress_slide {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 1px;
    background: rgb(0, 0, 0);
    height: 14px;
    border-radius: 7px;
}

.progress_range {
    width: 0;
    top: 100px;
    background: rgb(13, 255, 0);
    height: 14px;
    border-radius: 7px;
}
