/* General layout */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

/* Keyboard layout */
.keyboard {
    display: inline-block;
    width: 100%; /* Full width of the container */
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* More space between rows */
}

/* Key styling */
.key {
    font-size: 28px; /* Larger font size */
    font-weight: bold; /* Make keys bolder */
    padding: 20px 30px; /* Larger padding for bigger keys */
    margin: 10px; /* More space between keys */
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 0;
    text-align: center;
    width: 80px; /* Increased width for the keys */
    border-radius: 12px;
}

.key:before {
    content: '';
    background: linear-gradient(45deg, #db0000, #fc770a, #fdf902, #3fde00, #00ddb8, #0226da, #5f00c5, #ba0292, #ce0101);
    position: absolute;
    top: -8px;
    left: -8px;
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    width: calc(110% + 8px);
    height: calc(110% + 8px);
    animation: RGB 20s linear infinite;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    border-radius: 12px;
}

.key:hover:before {
    z-index: -2;
    opacity: 1;
}

/* Rainbow effect when a key is pressed */
.rainbow-active:before {
    opacity: 1; /* Make sure it's visible */
}

.rainbow-active {
    box-shadow: 0 0 10px #ffcc00;
}

/* Key active state */
.key:active {
    color: #FFF;
}

/* Glowing animation */
@keyframes RGB {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.progress_slide{
    width:100%;
    position:absolute;
    top: 1px;
    left: 1px;
    background:rgb(0, 0, 0);
    height:14px;
    border-radius: 7px;
}
.progress_range{
    width:0;
    top: 100px;
    background:rgb(13, 255, 0);
    height: 14px;
    border-radius: 7px;
}
