
h1 {
  font-weight: bold;
  color: #ffff;
  font-size: 1000%;
  margin-bottom: 30px;
}
.heading {
  position:absolute; 
  left: 325px; 
}

body {
  padding: 15px 30px; /* Padding for the button */
  font-size: 18px; /* Font size for the button text */
  background-color: #000000; /* Green background */
  color: white; /* White text */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px; /* Larger font size */
  font-weight: bold; /* Make keys bolder */
  margin: 128px; /* More space between keys */
  z-index: 0;
  border-radius: 12px;
}
/* Keyboard layout */
.keyboard {
  display: inline-block;
  width: 100%; /* Full width of the container */
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* More space between rows */
}

/* Key styling */
.key {
  position:absolute;
  top: 500px;
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px; /* Larger font size */
  font-weight: bold; /* Make keys bolder */
  margin: 10px; /* More space between keys */
  z-index: 0;
  border-radius: 12px;
}
