h1 {
  font-weight: bold;
  font-size: 10rem;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #ff0000, #ff00ff, #00ffff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: lighting 3s infinite;
}

@keyframes lighting {
  0% { background-position: 0%; }
  50% { background-position: 100%; }
  100% { background-position: 0%; }
}

.heading {
  position:absolute; 
  left: 325px; 
}

body {
  padding: 15px 30px; /* Padding for the button */
  font-size: 18px; /* Font size for the button text */
  background-color: #000000; /* Green background */
  color: white; /* White text */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px; /* Larger font size */
  font-weight: bold; /* Make keys bolder */
  margin: 128px; /* More space between keys */
  z-index: 0;
  border-radius: 12px;
}
/* Disco ball animation */
.disco-ball {
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #cccccc, #ffffff, #666666);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: spin 5s infinite linear;
  box-shadow: 0px 0px 020px 5px rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}
/* Keyboard layout */
.keyboard {
  display: inline-block;
  width: 100%; /* Full width of the container */
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* More space between rows */
}

/* Key styling */
.key {
  position:absolute;
  top: 500px;
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px; /* Larger font size */
  font-weight: bold; /* Make keys bolder */
  margin: 10px; /* More space between keys */
  z-index: 0;
  border-radius: 12px;
}

.key:hover {
  background-color: #555555;
}